* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-blend-mode: multiply;
    background-color: lightslategray;
    background-image: url('../img/img_computador.jpg');
    background-size: cover;
    height: 100vh;
}
.menu-principal {
    border: 1px solid black;
    height: 100px;
}
main,.content {
    margin: 0 auto;
    width: 1800px;
}
.logo h1 {
    color: #ffffff;
    float: left;
    padding: 40px;
    width: 20%;
}
.navegacao ul {
    display: flex;
    float:left;
    justify-content: space-around;
    list-style-type: none;
    padding:45px;
    width:50%;
}
.lista li{
    color: #ffffff7e;
    height: 40px;

}
.lista li:hover{
    border-bottom:1px solid #ffffff;
}
.lista li a {
    color: #ffffff7e;
    font-size: 20px;
    text-decoration: none;
}
.lista li a:hover{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.botao1 {
    width: 10%;
    padding: 35px;
    float: right;
}
.button1 {
    background-color: blueviolet;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    padding: 15px;
    font-weight: 900;
}
.button1:hover {
    background-color: rgb(177, 97, 252);
    transition: 1s;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    padding: 15px;
    font-weight: 900;
}
.conteudo1 {
    float: left;
    margin-top: 30em;
    margin-left: 10em;
    width: 35%;
    height: 35%;
}
.conteudo1 h1{
    color: #ffffff;
    font-size: 40px;
    
}
.conteudo1 h3{
    color: rgba(255, 255, 255,0.2);
    margin-top: 5%;
}
.botao2 {
    margin-top: 35px;
    margin-left: 10px;
}
.button2 {
    background-color: blueviolet;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    padding: 15px;
    font-weight: 900;
}
.button2:hover {
    background-color: rgb(177, 97, 252);
    transition: 1s;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    padding: 15px;
    font-weight: 900;
}
.caixa-login {
    margin-top: 25em;
    margin-right: 20em;
    width: 350px;
    height: 300px;
    padding: 40px;
    float: right;
    background-color: #ffffffff;
    border-radius: 0.5em;
}
.titulo{ 
    color: #000000a9;
    margin-bottom: 20px;
    padding: 5px;
}
input {
    height: 35px;
    width: 95%;
    margin-bottom: 15px;
    padding: 5px;
}
.botao3 {
    margin-top: 10px;
}
.button3 {
    background-color: blueviolet;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    width: 120px;
    padding: 13px;
    font-weight: 900;
}
.button3:hover {
    background-color: rgb(177, 97, 252);
    transition: 1s;
    border: none;
    border-radius: 3rem;
    color: #ffffff;
    padding: 15px;
    font-weight: 900;
}


